<div>
    <h2 id="page-heading">
        <span jhiTranslate="covlabServerApp.poStatus.home.title">Po Statuses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-po-status" [routerLink]="['/po-status/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="covlabServerApp.poStatus.home.createLabel">
            Create a new Po Status
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="poStatuses?.length === 0">
        <span jhiTranslate="covlabServerApp.poStatus.home.notFound">No poStatuses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="poStatuses && poStatuses.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="covlabServerApp.poStatus.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedAt"><span jhiTranslate="covlabServerApp.poStatus.updatedAt">Updated At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="purchaseOrder.id"><span jhiTranslate="covlabServerApp.poStatus.purchaseOrder">Purchase Order</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let poStatus of poStatuses ;trackBy: trackId">
                    <td><a [routerLink]="['/po-status', poStatus.id, 'view']">{{ poStatus.id }}</a></td>
                    <td>{{ poStatus.status }}</td>
                    <td>{{ poStatus.updatedAt | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="poStatus.purchaseOrder">
                            <a [routerLink]="['/purchase-order', poStatus.purchaseOrder?.id, 'view']" >{{ poStatus.purchaseOrder?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/po-status', poStatus.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/po-status', poStatus.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(poStatus)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="poStatuses && poStatuses.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
