<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:"DejaVu Sans",serif;font-size:13.1px;color:rgb(84,84,84);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:"DejaVu Sans",serif;font-size:13.1px;color:rgb(84,84,84);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_003{font-family:"DejaVu Sans Bold",serif;font-size:16.1px;color:rgb(84,84,84);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:"DejaVu Sans Bold",serif;font-size:16.1px;color:rgb(84,84,84);font-weight:bold;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="a534dda2-48f2-11eb-8b25-0cc47a792c0a_id_a534dda2-48f2-11eb-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-421px;top:0px;width:842px;height:595px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="a534dda2-48f2-11eb-8b25-0cc47a792c0a_id_a534dda2-48f2-11eb-8b25-0cc47a792c0a_files/background1.jpg" width=842 height=595></div>
<div style="position:absolute;left:43.00px;top:162.00px" class="cls_002"><span class="cls_002">Purchase Order #: 834</span></div>
<div style="position:absolute;left:701.00px;top:162.00px" class="cls_002"><span class="cls_002">Vendor: Nupco</span></div>
<div style="position:absolute;left:43.00px;top:186.00px" class="cls_002"><span class="cls_002">Created: 2020-12-24</span></div>
<div style="position:absolute;left:552.00px;top:186.00px" class="cls_002"><span class="cls_002">Contact Person: Mohammed Alqahtani</span></div>
<div style="position:absolute;left:43.00px;top:210.00px" class="cls_002"><span class="cls_002">Due Date: 2021-01-03</span></div>
<div style="position:absolute;left:631.00px;top:210.00px" class="cls_002"><span class="cls_002">Mobile: +966 55 086 0179</span></div>
<div style="position:absolute;left:43.00px;top:234.00px" class="cls_002"><span class="cls_002">Destination: NHL</span></div>
<div style="position:absolute;left:521.00px;top:234.00px" class="cls_002"><span class="cls_002">Email: m.hmoud.alqahtani@ascend.com.sa</span></div>
<div style="position:absolute;left:36.00px;top:308.00px" class="cls_003"><span class="cls_003">Code</span></div>
<div style="position:absolute;left:530.00px;top:308.00px" class="cls_003"><span class="cls_003">Product Name Quantity  UO</span></div>
<div style="position:absolute;left:36.00px;top:345.00px" class="cls_002"><span class="cls_002">HW4412</span></div>
<div style="position:absolute;left:419.00px;top:345.00px" class="cls_002"><span class="cls_002">BGI 2019-NCOV RT-PCR KIT, 50 TESTS</span></div>
<div style="position:absolute;left:667.00px;top:345.00px" class="cls_002"><span class="cls_002">12020</span></div>
<div style="position:absolute;left:759.00px;top:345.00px" class="cls_002"><span class="cls_002">Box</span></div>
<div style="position:absolute;left:36.00px;top:396.00px" class="cls_002"><span class="cls_002">HW4229-1728-2</span></div>
<div style="position:absolute;left:243.00px;top:396.00px" class="cls_002"><span class="cls_002">MGI EASY MAG BEADS VIRUS DNA/RNA EXT (1728 test) box (2/2)  1903</span></div>
<div style="position:absolute;left:759.00px;top:396.00px" class="cls_002"><span class="cls_002">Box</span></div>
<div style="position:absolute;left:36.00px;top:431.00px" class="cls_002"><span class="cls_002">HW4229-1728-1</span></div>
<div style="position:absolute;left:243.00px;top:431.00px" class="cls_002"><span class="cls_002">MGI EASY MAG BEADS VIRUS DNA/RNA EXT (1728 test) box (1/2)  92</span></div>
<div style="position:absolute;left:759.00px;top:431.00px" class="cls_002"><span class="cls_002">Box</span></div>
<div style="position:absolute;left:36.00px;top:466.00px" class="cls_002"><span class="cls_002">HW6134-TA-AGF-250-RS</span></div>
<div style="position:absolute;left:489.00px;top:466.00px" class="cls_002"><span class="cls_002">ROBOTIC PIPET TIPS 250μL</span></div>
<div style="position:absolute;left:667.00px;top:466.00px" class="cls_002"><span class="cls_002">9050</span></div>
<div style="position:absolute;left:759.00px;top:466.00px" class="cls_002"><span class="cls_002">Box</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-421px;top:605px;width:842px;height:595px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="a534dda2-48f2-11eb-8b25-0cc47a792c0a_id_a534dda2-48f2-11eb-8b25-0cc47a792c0a_files/background2.jpg" width=842 height=595></div>
<div style="position:absolute;left:36.00px;top:3.00px" class="cls_002"><span class="cls_002">HW6134-TF-1000-R-S</span></div>
<div style="position:absolute;left:533.00px;top:3.00px" class="cls_002"><span class="cls_002">1000 μL FILTER TIPS</span></div>
<div style="position:absolute;left:667.00px;top:3.00px" class="cls_002"><span class="cls_002">8235</span></div>
<div style="position:absolute;left:759.00px;top:3.00px" class="cls_002"><span class="cls_002">Box</span></div>
<div style="position:absolute;left:36.00px;top:38.00px" class="cls_002"><span class="cls_002">HW6144-185</span></div>
<div style="position:absolute;left:510.00px;top:38.00px" class="cls_002"><span class="cls_002">Protective Suit 185 Cm</span></div>
<div style="position:absolute;left:667.00px;top:38.00px" class="cls_002"><span class="cls_002">480</span></div>
<div style="position:absolute;left:759.00px;top:38.00px" class="cls_002"><span class="cls_002">Piece</span></div>
<div style="position:absolute;left:36.00px;top:94.00px" class="cls_002"><span class="cls_002">LOCAL 81</span></div>
<div style="position:absolute;left:471.00px;top:94.00px" class="cls_002"><span class="cls_002">Disposable garment(White)-L</span></div>
<div style="position:absolute;left:667.00px;top:94.00px" class="cls_002"><span class="cls_002">600</span></div>
<div style="position:absolute;left:759.00px;top:94.00px" class="cls_002"><span class="cls_002">Piece</span></div>
<div style="position:absolute;left:36.00px;top:129.00px" class="cls_002"><span class="cls_002">LOCAL 53</span></div>
<div style="position:absolute;left:544.00px;top:129.00px" class="cls_002"><span class="cls_002">Bide tape(scotch)</span></div>
<div style="position:absolute;left:667.00px;top:129.00px" class="cls_002"><span class="cls_002">40</span></div>
<div style="position:absolute;left:759.00px;top:129.00px" class="cls_002"><span class="cls_002">Roll</span></div>
<div style="position:absolute;left:36.00px;top:164.00px" class="cls_002"><span class="cls_002">HW6134-PCR-0208-C</span></div>
<div style="position:absolute;left:525.00px;top:164.00px" class="cls_002"><span class="cls_002">0.2 ML 8-TUBE STRIP</span></div>
<div style="position:absolute;left:667.00px;top:164.00px" class="cls_002"><span class="cls_002">40</span></div>
<div style="position:absolute;left:759.00px;top:164.00px" class="cls_002"><span class="cls_002">Box</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-421px;top:1210px;width:842px;height:595px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="a534dda2-48f2-11eb-8b25-0cc47a792c0a_id_a534dda2-48f2-11eb-8b25-0cc47a792c0a_files/background3.jpg" width=842 height=595></div>
</div>

</body>
</html>
