<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="purchaseOrder">
            <h2><span jhiTranslate="covlabServerApp.purchaseOrder.detail.title">Purchase Order</span> {{ purchaseOrder.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="covlabServerApp.purchaseOrder.orderNo">Order No</span></dt>
                <dd>
                    <span>{{ purchaseOrder.orderNo }}</span>
                </dd>
                <dt><span jhiTranslate="covlabServerApp.purchaseOrder.quantity">Quantity</span></dt>
                <dd>
                    <span>{{ purchaseOrder.quantity }}</span>
                </dd>
                <dt><span jhiTranslate="covlabServerApp.purchaseOrder.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ purchaseOrder.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="covlabServerApp.purchaseOrder.createdOn">Created On</span></dt>
                <dd>
                    <span>{{ purchaseOrder.createdOn }}</span>
                </dd>
                <dt><span jhiTranslate="covlabServerApp.purchaseOrder.deliveredDate">Delivered Date</span></dt>
                <dd>
                    <span>{{ purchaseOrder.deliveredDate }}</span>
                </dd>
                <dt><span jhiTranslate="covlabServerApp.purchaseOrder.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{ purchaseOrder.updatedAt }}</span>
                </dd>
                <dt><span jhiTranslate="covlabServerApp.purchaseOrder.createdAt">Created At</span></dt>
                <dd>
                    <span>{{ purchaseOrder.createdAt }}</span>
                </dd>
                <dt><span jhiTranslate="covlabServerApp.purchaseOrder.outlet">Outlet</span></dt>
                <dd>
                    <div *ngIf="purchaseOrder.outlet">
                        <a [routerLink]="['/outlet', purchaseOrder.outlet?.id, 'view']">{{ purchaseOrder.outlet?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="covlabServerApp.purchaseOrder.product">Product</span></dt>
                <dd>
                    <div *ngIf="purchaseOrder.product">
                        <a [routerLink]="['/product', purchaseOrder.product?.id, 'view']">{{ purchaseOrder.product?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/purchase-order', purchaseOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
